{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data-->
        <div class="card-body">
            <div class="row ">
                <div class="col-12 mt-3 text-center">
                    <div class="card">
                        <!-- <span class="h4 card-title">Under Development :)</span>
                        <img src="{{url_for('static', filename='images/web-development.png')}}"> -->
                        <div class="card-header-melawai text-white">
                            <div class="row">
                                <div class="col-12 col-lg-6 text-left">
                                    <span class="h6 card-title">Melawai KST 64</span>
                                </div>
                                <div class="col-12 col-lg-6 text-right">
                                    <span class="h6 font-weight-bold card-title">PR-220</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th rowspan="2" scope="colgroup"></th>
                                        <th scope="colgroup">kWp</th>
                                        <th scope="colgroup">kWh</th>
                                        <th rowspan="2" scope="colgroup">HR</th>
                                        <th scope="colgroup">kWh</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Cap</th>
                                        <th scope="col">Today</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">H1</td>
                                        <td id="cap_h1">getting data..</td>
                                        <td id="pv_h1">getting data..</td>
                                        <td id="hr_h1" style="background-color: yellow; width: 5px;">getting data..</td>
                                        <td id="etotal_h1">getting data..</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">H2</td>
                                        <td id="cap_h2">getting data..</td>
                                        <td id="pv_h2">getting data..</td>
                                        <td id="hr_h2" style="background-color: yellow">getting data..</td>
                                        <td id="etotal_h2">getting data..</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Total</td>
                                        <td class="font-weight-bold" id="cap_total">getting data..</td>
                                        <td class="font-weight-bold" id="pv_total">getting data..</td>
                                        <td class="font-weight-bold" style="background-color: yellow" id="hr_total">
                                            getting data..</td>
                                        <td class="font-weight-bold" id="etotal_total">getting data..</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <span class="h6 card-title">Today Harvest</span>
                            <p class="h6 card-title" id="dateNow">Tanggal</p>
                        </div>
                        <div class="card-body">
                            <canvas id="hourly-graph" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <span class="h6 card-title">Daily Harvest Ratio</span>
                            <p class="h6 card-title" id="monthNow">Bulan</p>
                        </div>
                        <div class="card-body">
                            <canvas id="daily-graph" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script src="{{url_for('static', filename='js/melawai.js')}}"></script>
<script type="text/javascript">
    const {createClient} = supabase
    const SUPABASE_URL = 'https://rfxzdzibfzniyzzfpoys.supabase.co'
    const SUPABASE_KEY =
        `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTI3NzU1OCwiZXhwIjoxOTU2ODUzNTU4fQ.FNd8eoY6O4HJ29WIUDJSTZ1AZ7Dd1tvOx8tlJFY-ibg`
    const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)

    // ===================== Realtime ======================
    const getData = async () => {
        let {data} = await _supabase
            .from('melawai_realtime')
            .select('*')
        return data
    }

    const mainRealtime = async () => {
        const data = await getData()
        render(data)
    }
    _supabase.from('melawai_realtime').on('*', async payload => {
        const data = await getData()
        render(data)
        })
        .subscribe()
        
    // ===================== Grafik HR Hourly =====================
    const getHourlyGraph = async () => {
        const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)
        let {
            data
        } = await _supabase
            .from('melawai_hourly_graph')
            .select('*').order('jam', {
                ascending: true
            })
        return data
    }

    const mainHourlyGraph = async () => {
        const datas = await getHourlyGraph()
        renderHourlyGraph(datas)
        
    }
    _supabase.from('melawai_hourly_graph').on('*', async payload => {
        const data = await getHourlyGraph()
        renderHourlyGraph(data)
        })
        .subscribe()

    // ===================== Grafik HR Daily =====================
    const getDailyGraph = async () => {
        const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)
        let {
            data
        } = await _supabase
            .from('melawai_daily_graph')
            .select('*').order('tanggal', {
                ascending: true
            })
        return data
    }

    const mainDailyGraph = async () => {
        const datas = await getDailyGraph()
        renderDailyGraph(datas)
        
    }
    _supabase.from('melawai_daily_graph').on('*', async payload => {
        const data = await getDailyGraph()
        renderDailyGraph(data)
        })
        .subscribe()
    
    mainHourlyGraph()
    mainDailyGraph()
    mainRealtime()
</script>

<script>
    const getTanggal = () => {
        let currentDate = new Date()
        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
            "October", "November", "December"
        ];

        const d = new Date();
        let monthNow = month[d.getMonth()];
        let dateTime = `${monthNow} ${currentDate.getDate()}, ${currentDate.getFullYear()}`
        document.getElementById('dateNow').innerHTML = dateTime
    }
    getTanggal()
    const getBulan = () => {
        const d = new Date();
        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
            "October", "November", "December"
        ];

        let monthNow = month[d.getMonth()];
        document.getElementById('monthNow').innerHTML = monthNow
    }
    getBulan()
</script>
{% endblock %}