{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data-->
        <div class="card-body">
            <div class="row ">
                <div class="col-12 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="row">
                                <div class="col-12 col-lg-6 text-left">
                                    <span class="h6 card-title">Moisture Monitoring</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table id="example1" class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Value</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Fetch Time</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_moisture"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <span class="h6 card-title">Today Harvest</span>
                            <p class="h6 card-title" id="dateNow">Tanggal</p>
                        </div>
                        <div class="card-body">
                            <canvas id="hourly-graph" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <span class="h6 card-title">Daily Harvest Ratio</span>
                            <p class="h6 card-title" id="monthNow">Bulan</p>
                        </div>
                        <div class="card-body">
                            <canvas id="daily-graph" height="50"></canvas>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const render = async () => {
        const response = await axios.get('http://localhost:5100/api/moisture/all')
        const data = response.data.data
        const table = document.getElementById('tbl_moisture')
        let html = ''
        data.forEach((item, index) => {
            html += `
                <tr>
                    <td>${index + 1}</td>
                    <td>${item.value}</td>
                    <td>${item.created_at}</td>
                    <td>${item.fetch_time}</td>
                </tr>
            `
        })
        table.innerHTML = html
    }
    render()
</script>
{% endblock %}