{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <div class="card-body">
            <div class="row ">
                <div class="col-4 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="col-12 col-lg-12 text-left">
                                <span class="h6 card-title">Tanaman Cabai</span>
                            </div>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Humidity </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageHumidity">
                                            <img src="static/images/humidity.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueHumidityCabai"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtHumidityCabai"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Temperature </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageTemperature">
                                            <img src="static/images/temperature-control.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueTemperatureCabai"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtTemperatureCabai"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Moisture </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageMoisture">
                                            <img src="static/images/moisturizing.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueMoistureCabai"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtMoistureCabai"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="col-12 col-lg-12 text-left">
                                <span class="h6 card-title">Tanaman Tomat</span>
                            </div>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Humidity </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageHumidity">
                                            <img src="static/images/humidity.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueHumidityTomat"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtHumidityTomat"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Temperature </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageTemperature">
                                            <img src="static/images/temperature-control.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueTemperatureTomat"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtTemperatureTomat"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Moisture </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageMoisture">
                                            <img src="static/images/moisturizing.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueMoistureTomat"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtMoistureTomat"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="col-12 col-lg-12 text-left">
                                <span class="h6 card-title">Tanaman Terung</span>
                            </div>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Humidity </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageHumidity">
                                            <img src="static/images/humidity.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueHumidityTerung"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtHumidityTerung"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Temperature </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageTemperature">
                                            <img src="static/images/temperature-control.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueTemperatureTerung"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtTemperatureTerung"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Moisture </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageMoisture">
                                            <img src="static/images/moisturizing.png" style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueMoistureTerung"></h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtMoistureTerung"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='js/realtimeCabai.js')}}"></script>
<script src="{{url_for('static', filename='js/realtimeTomat.js')}}"></script>
<script src="{{url_for('static', filename='js/realtimeTerung.js')}}"></script>
{%endblock%}