{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <div class="card-body">
            <div class="row ">
                <!-- CABAI -->
                <div class="col-12 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="col-12 col-lg-12 text-left">
                                <span class="h6 card-title">Tanaman</span>
                            </div>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-6 col-lg-3 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Monitoring Tanaman </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageTemperature">
                                            <img src="static/images/smart-farm-image.png"
                                                style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <div class="row justify-content-md-center text-center">
                                            <h7 class="card-title" >Temperature:  &nbsp;</h7>
                                            <h6 class="card-title font-weight-bold" id="valueTemperature"> getting data...</h6>
                                        </div>
                                        <div class="row justify-content-md-center text-center">
                                            <h7 class="card-title" >Moisture:  &nbsp;</h7>
                                            <h6 class="card-title font-weight-bold" id="valueMoisture"> getting data...</h6>
                                        </div>
                                        <div class="row justify-content-md-center text-center">
                                            <h7 class="card-title" >Status: &nbsp;</h7>
                                            <h6 class="card-title font-weight-bold" id="valueFuzzy"> getting data...</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-6 col-lg-3 mt-3 mb-3">
                                <div class="card text-center">
                                    <div class="card-header">
                                        <span class="h7 card-title"> Moisture </span>
                                    </div>
                                    <div class="card-body">
                                        <div id="imageMoisture">
                                            <img src="static/images/moisturizing.png"
                                                style="height: 40%; width: 60%; margin-bottom: 10px;">
                                        </div>
                                        <h6 class="card-title font-weight-bold" id="valueMoistureTanaman">getting data...</h6>
                                        Last Update:<br />
                                        <p class="card-text mt-3" id="createdAtMoistureTanaman">getting data...</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{url_for('static', filename='js/realtimeTanaman.js')}}"></script>
{%endblock%}