{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data-->
        <div class="card-body">
            <div class="row ">
                <div class="col-6 col-lg-6 mt-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <span class="h6 font-weight-bold card-title">Inverter 1</span>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/voltage.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <br>
                                    <h7 class="card-title font-weight-bold" id="ac_volt"></h7>
                                    <p class="card-text">AC Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/power.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <br>
                                    <h7 class="card-title font-weight-bold" id="ac_power"></h7>
                                    <p class="card-text">AC Power</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <br>
                                    <h7 class="card-title font-weight-bold" id="ac_curr"></h7>
                                    <p class="card-text">AC Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/battery.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                        <br>
                                    <h7 class="card-title font-weight-bold" id="batt_volt"></h7>
                                    <p class="card-text">Battery Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/charge_current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <br>
                                    <h7 class="card-title font-weight-bold" id="batt_charge_curr"></h7>
                                    <p class="card-text">Batt Charge Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/discharge_current.png')}}"
                                    style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <br>
                                    <h7 class="card-title font-weight-bold" id="batt_discharge_curr"></h7>
                                    <p class="card-text">Batt Discharg Current</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 mt-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <span class="h6 font-weight-bold card-title">Inverter 2</span>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/voltage.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_volt"></h7>
                                    <p class="card-text">AC Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/power.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_power"></h7>
                                    <p class="card-text">AC Power</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_curr"></h7>
                                    <p class="card-text">AC Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/battery.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_volt"></h7>
                                    <p class="card-text">Battery Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/charge_current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_charge_curr"></h7>
                                    <p class="card-text">Batt Charge Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/discharge_current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_discharge_curr"></h7>
                                    <p class="card-text">Batt Discharg Current</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 mt-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <span class="h6 font-weight-bold card-title">Inverter 3</span>
                        </div>
                        <div class="row justify-content-md-center" id="main">
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/voltage.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_volt"></h7>
                                    <p class="card-text">AC Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/power.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_power"></h7>
                                    <p class="card-text">AC Power</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="ac_curr"></h7>
                                    <p class="card-text">AC Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/battery.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_volt"></h7>
                                    <p class="card-text">Battery Voltage</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/charge_current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_charge_curr"></h7>
                                    <p class="card-text">Batt Charge Current</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-inv mt-1">
                                <div class="card-body">
                                    <img src="{{url_for('static', filename='images/discharge_current.png')}}"
                                        style="height: 40%; width: 80%; margin-bottom: 10px;">
                                    <h7 class="card-title font-weight-bold" id="batt_discharge_curr"></h7>
                                    <p class="card-text">Batt Discharg Current</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script type="text/javascript">
    const {
        createClient
    } = supabase
    const SUPABASE_URL = 'https://rfxzdzibfzniyzzfpoys.supabase.co'
    const SUPABASE_KEY =
        `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTI3NzU1OCwiZXhwIjoxOTU2ODUzNTU4fQ.FNd8eoY6O4HJ29WIUDJSTZ1AZ7Dd1tvOx8tlJFY-ibg`

    const render = async () => {
        const main = document.getElementById("main")
        const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)
        let {
            data,
            error
        } = await _supabase
            .from('inverter_voltronic_realtime')
            .select('*')
        const data_fetch = data.map(el => {
            document.getElementById("ac_volt").innerHTML = el.ac_voltage + ' V'
            document.getElementById("ac_power").innerHTML = el.ac_power + ' W'
            document.getElementById("ac_curr").innerHTML = el.ac_current + ' A'
            document.getElementById("batt_volt").innerHTML = el.battery_voltage + ' V'
            document.getElementById("batt_charge_curr").innerHTML = el.battery_charge_current + ' A'
            document.getElementById("batt_discharge_curr").innerHTML = el.battery_discharge_current +
                ' A'
        })
        const realtime = _supabase.from('inverter_voltronic_realtime').on('*', payload => {
                const data = payload.new
                // console.log(data.ac_voltage)
                document.getElementById("ac_volt").innerHTML = data.ac_voltage + ' V'
                document.getElementById("ac_power").innerHTML = data.ac_power + ' W'
                document.getElementById("ac_curr").innerHTML = data.ac_current + ' A'
                document.getElementById("batt_volt").innerHTML = data.battery_voltage + ' V'
                document.getElementById("batt_charge_curr").innerHTML = data.battery_charge_current + ' A'
                document.getElementById("batt_discharge_curr").innerHTML = data.battery_discharge_current + ' A'
            })
            .subscribe()
    }
    render()
</script>
{% endblock %}