{% extends "layout.html" %}
{%block content%}
<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data-->
        <div class="card-body">
            <div class="row ">
                <div class="col-12 mt-3 text-center">
                    <div class="card">
                        <div class="card-header-melawai text-white">
                            <div class="row">
                                <div class="col-12 col-lg-6 text-left">
                                    <span class="h6 card-title">Pulau Macan</span>
                                </div>
                                <div class="col-12 col-lg-6 text-right">
                                    <span class="h6 card-title">Last Update: </span>
                                    <span class="h6 card-title" id="last_update">##/##/####</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th rowspan="2" scope="colgroup"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col">MPPT 1</th>
                                        <th scope="col">MPPT 2</th>
                                        <th scope="col">MPPT 3</th>
                                        <th scope="col">MPPT 4</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Harvest</td>
                                        {% for i in range(1,5) %}
                                        <td id="mppt{{i}}">getting data..</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th rowspan="2" scope="colgroup"></th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Store</td>
                                        <td>
                                            <div class="card-body">
                                                <canvas id="battery_store" height="50"></canvas>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                    <tr>
                                        <th rowspan="2" scope="colgroup"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col">ENERGY A</th>
                                        <th scope="col">ENERGY B</th>
                                        <th scope="col">ENERGY C</th>
                                    </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Enjoy</td>
                                        {% for i in range(1,4) %}
                                        <td id="chint{{i}}">getting data..</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script src="{{url_for('static', filename='js/pulau_macan.js')}}"></script>
<script type="text/javascript">
    const {createClient} = supabase
    const SUPABASE_URL = 'https://rfxzdzibfzniyzzfpoys.supabase.co'
    const SUPABASE_KEY =
        `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTI3NzU1OCwiZXhwIjoxOTU2ODUzNTU4fQ.FNd8eoY6O4HJ29WIUDJSTZ1AZ7Dd1tvOx8tlJFY-ibg`
    const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)

    // ===================== Realtime ======================
    const getData = async () => {
        let {data} = await _supabase
            .from('pulau_macan')
            .select('*')
            .order('id', { ascending: false })
            .limit(1)
            .single()
        return data
    }

    const mainRealtime = async () => {
        const data = await getData()
        render(data)
    }
    _supabase.from('pulau_macan').on('*', async payload => {
        const data = await getData()
        render(data)
        // console.info(data)
        })
        .subscribe()
        
    mainRealtime()
</script>
{% endblock %}